
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.spaceLeft {
  margin-left: 3px;
}
.spaceAbove{
  margin-top: 3px;
}

.spaceLeft{
   margin-left:10px;
 }
 .spaceAbove{
   margin-top:15px;
 }
 .spaceAboveSmall{
   margin-top:10px;
 }
.dailyFormContent{
  padding: 15px 5px;
  border-radius: 8px;
  background-color: white;
}
.buttonsAboutUs{
  margin:auto;
  width:50%;
}
.aboutUs{
  padding: 10px;
}
.howItWorks{
  padding: 10px;
  background-color: #ffe2a0;
}
.devLinks{
  padding: 10px;
}
.sectionHeader{
  font-size: 50px;
}
.info{
  font-size: 25px;
}
.captions{
  font-size: 20px;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.firstFormContent{
  padding: 15px 5px;
  border-radius: 8px;
  background-color: white;
}

.navbar-logo {
    width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-top: 5px;
    background: none;
    float: right;
    display: inline;
}
